*{
 margin: 0;
 padding: 0;
 text-decoration: none;
 list-style: none; 
 font-family: "Releway";
}

.nabvar {
  position: fixed;
  left: 0;
  width: 230px;
  height: 100%;
  background: #120f2ee3;
}

.nabvar ul li a {
  display: block;
}

