.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #5840BA; 
    overflow-x: hidden; 
    padding-top:60 px; 
    transition: 0.5s; 
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;

  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #5840BA;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #5840BA;
  }
  
  #main {
    transition: margin-left .3s;
    padding: 20px;
  }

  @media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


.chart-container {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }
.table th, .table td {
        border: 1px solid #ccc; 
        padding: 5px; 
        }

.table th {
        background-color: #f2f2f2;
        font-weight: bold;
}

.container-box {
  background-color: black;
  height: 40vh;
  padding: 20px;
}

.container-box h4 {
  text-align: center;
}

.chart-canvas {
  width: 100%;
  max-width: 800px;
}

.container {
  margin-top: 5rem;
}

