.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }

    .progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    .progress {
      display: inline-block;
      vertical-align: middle;
      height: 50%;
      width: 25%;
    }
  



